﻿@model Lesson_3.Models.Post
    <div class="next_bl" id="post_@Model.ID">
        <input type="hidden" value="@Model.ID" id="postId" />
        <div class="block12">
            <p>@Model.Autor.FirstName @Model.Autor.LastName</p>
            <p>@Model.DateOfCreate</p>
        </div>
        <div class="div_cl">
            <p id="title_@Model.ID" value="@Model.Title">@Model.Title</p>
        </div>
        <div class="tw">
            <input type="button" class="bat_2" value="Edit" id="bat_2_@Model.ID" data-toggle="modal" data-target="#myModal">
            <input type="button" class="bat_3" value="Delete" id="bat_3_@Model.ID">
        </div>
        <div class="under">
            <p id="text_@Model.ID" value="@Model.Text">@Model.Text</p>
        </div>
    </div>

