﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/bundles/angular-components")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular-ui")

</head>
<body ng-controller="mainCotroller as mC">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
                <div class="ball">
                    <span uib-popover-template="mC.dynamicPopover.templateUrl"  popover-placement="bottom" popover-animation="true" popover-trigger="'outsideClick'" class="glyphicon glyphicon-bell" ><p class="badge pull-right message-count"></p></span>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <ui-view>
            @RenderBody()
        </ui-view>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @*@Scripts.Render("~/bundles/savebutton")
    @Scripts.Render("~/bundles/post")
    @Scripts.Render("~/bundles/buttonedit")*@
    @RenderSection("scripts", required: false)
</body>
</html>
