﻿@model Lesson_3.Models.RegisterViewModel
@{ 
ViewBag.Title = "Register"; 
} 

<h2>@ViewBag.Title.</h2> 

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) 
{ 
@Html.AntiForgeryToken() 
<h4>Create a new account.</h4> 
<hr /> 
<form action="/account/register" method="post"> 
<h3>FirstName</h3> 
<input type="text" name="FirstName" /> 
<h3>LastName</h3> 
<input type="text" name="LastName" /> 
<h3>Email</h3> 
<input type="text" name="Email" /> 
<h3>Password</h3> 
<input type="password" name="Password" /> 
<h3>ConfirmPassword</h3> 
<input type="password" name="ConfirmPassword" /> 
<input type="submit" class="btn btn-default" value="Register" /> 
</form> 
} 

@section Scripts { 
@Scripts.Render("~/bundles/jqueryval") 
}