﻿<button ng-click="$ctrl.getResults()">Oleg</button>
    <div id="_layoutcreate">
        <div id="_LayoutCreate" ng-repeat="post in $ctrl.service.allposts" class="post-block">
            <!--<post-component post="post"></post-component>-->
            <div class="next_bl" id="post_{{post.ID}}">
                <input type="hidden" value="{{post.ID}}" id="postId" />
                <div class="block12">
                    <p>{{post.Autor.FirstName }} {{post.Autor.LastName}}</p>
                    <p>{{post.DateOfCreate | date:"yyyy/MM/dd HH:mm:ss"}}</p>
                </div>
                <div class="div_cl">
                    <p id="title_{{post.ID}}" value="{{post.Title}}">{{post.Title}}</p>
                </div>
                <div class="tw">
                    <input type="button" class="bat_2" value="Edit" id="bat_2_{{post.ID}}" ng-click="$ctrl.openPopup(post)">
                    <input type="button" class="bat_3" value="Delete" id="bat_3_{{post.ID}}" ng-click="$ctrl.deletePosts(post.ID)">
                </div>
                <div>
                </div>
                <div class="under">
                    <p id="text_{{post.ID}}" value="{{post.Text}}">{{post.Text}}</p>
                        <div class="like-button" ng-show="post.isLike" ng-click="$ctrl.dislikePost(post)">
                            <i class="glyphicon glyphicon-heart" ng-model="post.Likes.lenght"></i>
                            <i>{{post.Likes.length}}</i>
                        </div>
                    <div class="like-button" ng-show="!post.isLike" ng-click="$ctrl.likePost(post)">
                        <i class="glyphicon glyphicon-heart-empty" ng-model="post.Likes.lenght"></i>
                        <i>{{post.Likes.length}}</i>
                    </div>
                </div>
            </div>
        </div>
        <loading-posts></loading-posts>
        </div>
