﻿<div class="main-block">
    <div class="title-block">
        <label>
            Title
        </label>
        <br><input type="text" name="Title" class="title-form" maxlength="20" ng-model="Title"/>
    </div>
    <div class="description-block">
        <label>
            Description
        </label>
        <br><textarea name="Description" class="description-form" maxlength="16" ng-model="Description"></textarea>
    </div>
    <div class="buttons-block">
        <input type="button" value="Send" class="bat_1" ng-click="send()"/>
        <input type="button" value="Close" class="bat_1" ng-click="close()"/>
    </div>
</div>