﻿<div class="next_bl" id="post_{{$ctrl.post.ID}}">
    <input type="hidden" value="{{$ctrl.post.ID}}" id="postId" />
    <div class="block12">
        <p>{{$ctrl.post.Autor.FirstName }} {{$ctrl.post.Autor.LastName}}</p>
        <p>{{$ctrl.post.DateOfCreate | date:"yyyy/MM/dd HH:mm:ss"}}</p>
    </div>
    <div class="div_cl">
        <p id="title_{{$ctrl.post.ID}}" value="{{$ctrl.post.Title}}">{{$ctrl.post.Title}}</p>
    </div>
    <div class="tw">
        <input type="button" class="bat_2" value="Edit" id="bat_2_{{$ctrl.post.ID}}" ng-click="$ctrl.openPopup(post)">
        <input type="button" class="bat_3" value="Delete" id="bat_3_{{$ctrl.post.ID}}" ng-click="$ctrl.deletePosts(post.ID)">
    </div>
    <div>
    </div>
    <div class="under">
        <p id="text_{{$ctrl.post.ID}}" value="{{$ctrl.post.Text}}">{{$ctrl.post.Text}}</p>
        <div class="like-button" ng-show="!$ctrl.show" ng-click="$ctrl.dislikePost(post.ID)">
            <i class="glyphicon glyphicon-heart"></i>
        </div>
        <div class="like-button" ng-show="$ctrl.show" ng-click="$ctrl.likePost(post.ID)">
            <i class="glyphicon glyphicon-heart-empty"></i>
        </div>
    </div>
</div>