﻿@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/Home1/css")
@*@model IEnumerable<Lesson_3.Models.Post>*@
@*<label class="labla">
    Title
</label>
<label class="labla2">
    Description
</label>
<br><input type="text" class="cls" id="createid" name="Title">
<textarea class="cls2" name="Text" id="createdescriptionid"></textarea>
<br><input type="button" class="bat_1" value="Save" id="SaveButton">
<div id="_LayoutCreate">
    @foreach (var post in Model)
    {
        <div class="next_bl" id="post_@post.ID">
            <input type="hidden" value="@post.ID" id="postId" />
            <div class="block12">
                <p>@post.Autor.FirstName @post.Autor.LastName</p>
                <p>@post.DateOfCreate</p>
            </div>
            <div class="div_cl">
                <p id="title_@post.ID" value="@post.Title">@post.Title</p>
            </div>
            <div class="tw">
                <input type="button" class="bat_2" value="Edit" id="bat_2_@post.ID">
                <input type="button" class="bat_3" value="Delete" id="bat_3_@post.ID">
            </div>
            <div class="under">
                <p id="text_@post.ID" value="@post.Text">@post.Text</p>
            </div>
        </div>
    }
</div>

<div id="myModal" class="modal">
    <div class="backmodel">
        <label class="labla">
            Title
        </label>
        <label class="labla2">
            Description
        </label>
        <br><input type="text" class="cls" id="titleid" name="Title">
        <textarea class="cls2" name="Text" id="descriptionid"></textarea>
        <br><input type="button" class="bat_1" value="Send" id="SendButton">
        <input type="button" class="bat_1" value="Close" id="ExitButton">
    </div>
</div>*@
<home-component></home-component>