﻿.me{
    width:900px;
    height:auto;
    background-color:lightgray;
    position:relative;
}

/*.labla{
    position:relative;
    font-size:25px;
}

.cls{
    position:relative;
    border-radius:5px;

}

.labla2{
    margin-left:200px;
    font-size:25px;
}

.cls2{
    border-radius:5px;
    position:absolute;
    margin-left:75px;
    font-size:15px;
}*/

.popover-content {
    color:black;
}

.main-block{
    position:relative;
}

.title-block{
    margin:5px;
    padding:2px;
    height:auto;
}

.description-block{
    margin:5px;
    padding:2px;
    height:auto;
}

.buttons-block{
    margin:5px;
    padding:2px;
    height:auto;
}

.description-form{
    border-radius:5px;
    font-size:15px;
    max-width:none;
    width:260px;
    height:100px;
    resize:none;
}

.title-form{
    border-radius:5px;
    font-size:15px;
}

.like-button{
    margin-left:700px;
    opacity: 1;
}

.bat_1{
    border-color:black;
    width:100px;
    border-radius:5px;    
    color:black;
    background-color:lightgray;
}

.block12{
    float:left;
    padding:5px;
    font-size:20px;
    width:30%;
    height:70%;
}

.div_cl{
    float:left;
    font-size:30px;
    width:40%;
    height:70%;
    padding:50px;

}

.tw{
    float:left;
    width:30%;
    height:70%;
}

.next_bl{
    width:800px;
    height:150px;
    background-color:white;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    border-radius:10px;
}

.bat_2{
    width:75px;
    float:left;
    font-size:20px;
    border-radius:5px;
    margin-top:10px;
    margin-left:50px;
    color:black;
    background-color:red;
}

.bat_3{
    float:left;
    width:75px;
    font-size:20px;
    border-radius:5px;
    margin-top:10px;
    margin-left:10px;
    color:black;
    background-color:red;
}

.under{
    font-size:20px;
    padding:5px;
}

.backmodel{
    background:white;
    padding:20px;
    width:700px;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
    border-radius:5px;
}

.close{
    float:right;
}